    /* Estilos básicos do modal */
    .modal {
        display: none; /* Esconde o modal por padrão */
        position: fixed;
        text-align: center;
        z-index: 1000; /* Z-index alto para ficar acima de outros elementos */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5); /* Fundo escurecido */
    }

    .modal-content {
        background-color: #222;
        margin: 5% auto;
        padding: 2rem;
        border: 1px solid #888;
        border-radius: 8px; /* Bordas arredondadas */
        width: 90%;
        max-width: 800px; /* Limite de largura para telas grandes */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para efeito de profundidade */
    }

    .pc-message {
        background-color: #f0f8ff; /* Cor de fundo clara */
        border: 1px solid #b0e0e6; /* Borda azul clara */
        border-radius: 8px; /* Bordas arredondadas */
        padding: 15px; /* Espaçamento interno */
        margin: 15px 0; /* Margem vertical */
        font-size: 16px; /* Tamanho da fonte */
        color: #333; /* Cor do texto */
        line-height: 1.5; /* Espaçamento entre linhas */
    }
    
    .pc-message a {
        color: #007bff; /* Cor do link */
        text-decoration: underline; /* Sublinhado no link */
        font-weight: bold; /* Texto em negrito */
    }
    
    .pc-message a:hover {
        color: #0056b3; /* Cor do link ao passar o mouse */
        text-decoration: none; /* Remove o sublinhado ao passar o mouse */
    }
    

    .watch-button {
        display: inline-block;
        padding: 1rem 3rem;
        margin-top: 10px;
        background-color: #4CAF50;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        font-size: 1.3rem;
    }

    .watch-button:hover {
        background-color: #45a049;
    }


/* Oculta o modal em dispositivos móveis */
@media (max-width: 768px) {
    #myModal {
        display: none !important; /* Garante que o modal não apareça em telas pequenas */
    }
}
